<div class="colorpicker-container">
    <div class="colorpicker-toolbar">
        <div class="colorpicker-preview" ng-style="{ 'background-color': hoveredColor }"></div>
        <div class="colorpicker-clear" ng-bind="defaultOptions.clearText"></div>
    </div>
    <div class="colorpicker-title" ng-bind="defaultOptions.latestText" ng-if="latestColor.length > 0"></div>
    <div class="colorpicker-latestcolor colorpicker-colors">
            <span class="colorpicker-colors-item"
                  ng-repeat="color in latestColor"
                  ng-style="{'background-color': color, 'border-color': color}"
                  ng-click="selectColor(color)"
                  ng-mouseover="previewColor(color)"></span>
    </div>
    <div class="colorpicker-title" ng-bind="defaultOptions.commonText"></div>
    <div class="colorpicker-commoncolor">
        <div class="colorpicker-colors colorpicker-colors-line{{$index}}"
             ng-repeat="line in defaultOptions.commonColor">
            <span class="colorpicker-colors-item"
                  ng-repeat="color in line"
                  ng-style="{'background-color': color, 'border-color': color}"
                  ng-click="selectColor(color)"
                  ng-mouseover="previewColor(color)"></span>
        </div>
    </div>
    <div class="colorpicker-title" ng-bind="defaultOptions.standardText"></div>
    <div class="colorpicker-standardcolor colorpicker-colors">
        <span class="colorpicker-colors-item"
              ng-repeat="color in defaultOptions.standardColor"
              ng-style="{'background-color': color, 'border-color': color}"
              ng-click="selectColor(color)"
              ng-mouseover="previewColor(color)"></span>
    </div>
    <div class="colorpicker-title colorpicker-morecolor" ng-if="isSupportNativeColorPicker">
        <label for="native-color-picker" ng-bind="defaultOptions.moreText"></label>
        <input id="native-color-picker" class="native-color-picker" type="color"
               ng-model="nativeColor"
               ng-change="selectColor(nativeColor)" />
    </div>
</div>